.fancy {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 10px;
}

.fancy:before,
.fancy:after {
    content: '';
    border-top: 1px solid;
}

.break {
  flex-basis: 100%;
  height: 0;
}